<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            
            <div class="container columns is-centered">

                <!--
                <div>      
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                
                <div style="width: 17%; float:left">
                    <br>
                    <br>
                    <br>
                </div>
                -->


                <div>    
                    <iframe width = 400 height = 280 style="display: block; margin: auto; border-radius: 20px"  src="https://www.youtube.com/embed/cL8xiL47Dw4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen> </iframe>
                    <br>
                    <p> <b> ↑ Where I work <b> </p>
                    <a href= "https://www.youtube.com/channel/UCrnx2FH-uSc6gYFZx9PJnYg" target="_blank"> Credit: NING Jingjie, Ethan </a> 
                </div>
                        
            </div>
            <br>
            <br>

            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href= "https://haerimhwang.github.io/assets/Hwang_CV.pdf" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">CURRICULUM VITAE</a>
                            </a>
                        </div>
                        <div>
                            <a href=mailto:haerimhwang@cuhk.edu.hk? class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank"> EMAIL ME </a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
