<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div >
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                
                <div> 
                    <iframe style="display: block; margin: auto;" width="420" height="315" src="https://www.youtube.com/embed/cL8xiL47Dw4"> </iframe>
                    <a href= "https://www.youtube.com/channel/UCrnx2FH-uSc6gYFZx9PJnYg" target="_blank"> Credit: NING Jingjie, Ethan </a> 
                </div>
                
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href= "https://haerimhwang.github.io/assets/Hwang_CV.pdf" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">CURRICULUM VITAE</a>
                            </a>
                        </div>
                        <div>
                            <a href=mailto:yayhaerim@gmail.com? class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank"> EMAIL ME </a>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>
