<section>
    <div class="hero-body">
        
        <h3> Publications </h3>
        <br>
        <br>
        
        <h2> Referred Journal Articles </h2>
        <br>

            2020	Kim, H., Shin, G-H., & Hwang, H. Integration of verbal and constructional information in the second language processing of English dative constructions. Studies in Second Language Acquisition, 42(4), 825–847. doi: 10.1017/S0272263119000743. 
            <br>

            2020	Kim, H., Rah, Y., & Hwang, H. Testing usage-based approaches to assessing EFL learners’ development of English argument structure constructions. English Teaching, 75(s1), 55–78. doi: 10.15858/engtea.75.s1.202006.55
            <br>

            2020 	Hwang, H. Syntactico-semantic realizations of pronouns in the English transitive construction: A corpus-based analysis. Corpus Linguistics and Linguistic Theory. doi: 10.1515/cllt-2019-0061. (published online 3/7/2020)
            <br>

            2020	Hwang, H., Jung, H., & Kim, H. Effects of written versus spoken production modalities on syntactic complexity measures in beginning-level child EFL learners. Modern Language Journal, 104(1), 267–283. doi: 10.1111/modl.12626
            <br>

            2019	Hwang, H., & Kim, H. A comparative analysis of EFL students’ needs and evaluation of English curriculum: A case study from Korea. English Teaching, 74, 3–29. doi: 10.15858/engtea.74.4.201912.3
            <br>

            2017	Kim, H., Hwang, H., & Rah, Y. Young EFL students’ reliance on path-breaking verbs in the use of English argument structure constructions. Journal of Cognitive Science, 18, 341–366. doi: 10.17791/jcs.2017.18.3.341
            <br>
            <br>

        <h2> Conference Proceedings </h2>
        <br>
        
            2018	Deen, K., Bondoc, I., Camp, A., Estioca, S., Hwang, H., Shin, G.-H., Takahashi, M., Zenker, F., & Zhong, J. Repetition brings success: Revealing knowledge of the passive voice. In A. B. Bertolini & M. J. Kaplan (Eds.), Proceedings of the 42nd annual Boston University Conference on Language Development (pp. 200–213). Somerville, MA: Cascadilla Press.
            <br>

        
    </div>
</section>
