<div class="columns has-text-centered" id="praat_codes-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{praat_post.praat_post-image}});"></div>
    </div>
    <a href="{{praat_post.url | absolute_url}}">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{praat_post.title}}</h1>
            <div class="content has-text-grey">
                {{ praat_post.description | truncate: 300 | strip_html | strip_newlines | strip | escape }}
                <hr class="has-background-grey">
                <span class="has-text-grey">Updated on <span class="has-text-weight-semibold">{{ praat_post.date | date: "%-B %d, %Y" }}</span></span> 
            </div>
        </div>
    </a>
</div>
