<section class="hero" id="presentations">
    <div class="hero-body">    

        <div class="container">
            <br>
            <br>
            <br>

            <h1> <b> INVITED ADRESS </b> </h1>
            <br>
            <br>
            <b> Hwang, H. </b>, & Schwartz, B. D. (2020). <a href="haerimhwang.github.io/assets/pdfs/Hwang_&_Schwartz_(2019)_NINJAL-UHM.pdf" target="_blank"> How do L1-Korean speakers understand English VP ellipsis and Gapping? </a> NINJAL UHM Linguistics Workshop on Syntax-Semantics Interface, Language Acquisition, and Naturalistic Data Analysis. University of Hawai‘i at Mānoa, Honolulu, USA. (October 12)
            <br>
            <br>
            <br>
            <br>
            <br>

            
            <h1> <b> PRESENTATIONS AT CONFERENCES </b> </h1> 
            <br>
            <br>
            <b> Hwang, H.</b>, & Schwartz, B. D. (2021). Processing verb gaps in a second language. Bi-annual Conference on Generative Approaches to Language Acquisition‒North America 9, University of Iceland in Reykjavík, Iceland. (poster, to be presented)
            <br>
            <br>
            <b> Hwang, H. </b> (2020). <a href="haerimhwang.github.io/assets/pdfs/Hwang_(2020)_KAPEE.pdf" target="_blank"> Grammar search for wh-questions during task performance in English. </a> 2020 KAPEE Workshop and Annul Conference, Gyeongin National University of Education, Anyang, Korea. (September 19)
            <br>
            <br>
            <b> Hwang, H.</b>, & Schwartz, B. D. (2019). <a href="haerimhwang.github.io/assets/pdfs/Hwang_&_Schwartz_(2019)_BU.pdf" target="_blank"> L2 acquisition of contrasts in interpretive ambiguity between VP ellipsis and Gapping. </a> Boston University Conference on Language Development 44, Boston University, Boston, USA. (November 9)  
            <br>
            <br>
            <b> Hwang, H.</b>, Jung, H. Y., & Kim, H. (2019). <a href="haerimhwang.github.io/assets/pdfs/Hwang_et_al_(2019)_ICLC.pdf" target="_blank"> How do different processes of speaking and writing affect syntactic complexity in child second language production? </a> International Cognitive Linguistics Conference 15, Kwansei Gakuin University, Nishinomiya, Japan. (poster, August 7)
            <br> 
            <br>
            <b> Hwang, H. </b> (2019). <a href="haerimhwang.github.io/assets/pdfs/Hwang_(2019)_HISPhonCog.pdf" target="_blank">  Second language perception of English stops by Korean-speaking child learners: Effects of position and lexical knowledge. </a> Hanyang International Symposium on Phonetics and Cognitive Sciences of Language, Hanyang University, Seoul, Korea. (poster, May 24)
            <br>
            <br>
            Deen, K., Bondoc, I., Camp, A., Estioca, S., <b> Hwang, H.</b>, Shin, G., Takahashi, M., Zenker, F., & Zhong, C. (2017). <a href="haerimhwang.github.io/assets/pdfs/Deen_et al._(2017)_BU.pdf" target="_blank"> Repetition Brings Success: Revealing knowledge of the passive voice. </a> Boston University Conference on Language Development 42, Boston University, Boston, USA. (November 3)
            <br>
            <br>
            <b> Hwang, H.</b>, Kim, H., & Schwartz, B. D. (2017). <a href="haerimhwang.github.io/assets/pdfs/Hwang_et_al_(2017)_CUNY.pdf" target="_blank"> Revisiting empty-category processing by L2 learners with only classroom exposure. </a> CUNY 2017: Conference on Human Sentence Processing, MIT, Boston, USA. (poster, March 30)
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <h1> <b> PRESENTATIONS AT OTHER PROFESSIONAL MEETINGS </b> </h1> 
            <br>
            <br>
            <b> Hwang, H.</b>, Choe, A., & Zenker, F. (2020). <a href="haerimhwang.github.io/assets/pdfs/Hwang_et_al._(2020)_Brown_Bag.pdf" target="_blank"> Construction counter: A tool to measure (nonnative) language development. </a> Brown Bag Series, University of Hawai‘i at Mānoa, Honolulu, USA. (April 16)
            <br>
            <br>            
            
        </div>
    </div>
</section>
