<section class="hero" id="pulbications">
    <div class="hero-body">    
        <div class="container">
        <br>
        <br>
        <h3> <b> PUBLICATIONS </b> </h3>
        <br>
        <br>

            Kim, H., Shin, G-H., & <b> Hwang, H. </b> (2020). Integration of verbal and constructional information in the second language processing of English dative constructions. Studies in Second Language Acquisition, 42(4), 825–847. doi: 10.1017/S0272263119000743. 
            <br>
            <br>

            Kim, H., Rah, Y., & <b> Hwang, H. </b> (2020). Testing usage-based approaches to assessing EFL learners’ development of English argument structure constructions. English Teaching, 75(s1), 55–78. doi: 10.15858/engtea.75.s1.202006.55
            <br>
            <br>

            <b> Hwang, H. </b> (2020). Syntactico-semantic realizations of pronouns in the English transitive construction: A corpus-based analysis. Corpus Linguistics and Linguistic Theory. doi: 10.1515/cllt-2019-0061. (published online 3/7/2020)
            <br>
            <br>
                
            <b> Hwang, H. </b>, Jung, H., & Kim, H. (2020). Effects of written versus spoken production modalities on syntactic complexity measures in beginning-level child EFL learners. Modern Language Journal, 104(1), 267–283. doi: 10.1111/modl.12626
            <br>
            <br>

            Deen, K., Bondoc, I., Camp, A., Estioca, S., <b> Hwang, H. </b>, Shin, G.-H., Takahashi, M., Zenker, F., & Zhong, J. (2018). Repetition brings success: Revealing knowledge of the passive voice. In A. B. Bertolini & M. J. Kaplan (Eds.), Proceedings of the 42nd annual Boston University Conference on Language Development (pp. 200–213). Somerville, MA: Cascadilla Press.
            <br>
            <br>
        
            <b> Hwang, H. </b>, & Kim, H. (2019). A comparative analysis of EFL students’ needs and evaluation of English curriculum: A case study from Korea. English Teaching, 74, 3–29. doi: 10.15858/engtea.74.4.201912.3
            <br>
            <br>

            Kim, H., <b> Hwang, H. </b>, & Rah, Y. (2017). Young EFL students’ reliance on path-breaking verbs in the use of English argument structure constructions. Journal of Cognitive Science, 18, 341–366. doi: 10.17791/jcs.2017.18.3.341
            <br>
            <br>
        
        </div>
    </div>
</section>
