<section class="hero is-fullheight" id="publications"> 
  <div id="publication"></div><div id="publication">
  <section class="hero" id="publication">
    <div class="hero-body"><div class="container" style="margin-left:15%;margin-right:15%;width:auto"> 

      <b> PUBLICATIONS </b>
      <br> 
      <br> 
      <b> Hwang, H.</b>, & Kim, H. (under review). Korean Syntactic Complexity Analyzer (KOSCA): An NLP tool for the analysis of syntactic complexity in second language production. 
       
      <br> 
      <br> 
      <b> Hwang, H.</b> (in revision). Wanna contraction in first language acquisition, child second language acquisition, and adult second language acquisition.
     
      <br> 
      <br> 
      <b> Hwang, H.</b> (in revision). Development of morphological diversity in second language Korean: An NLP analysis using the Korean Morphological Richness Analyzer 1.0. 
         
      <br> 
      <br> 
      Kim, H., Kim, K., Jo, K., & <b> Hwang, H. </b> (accepted). Sensitivity to syntactic dependency formation in child second language processing: A study of numeral quantifiers in Korean. Language and Cognition.
      
      <br> 
      <br>  
      <b> Hwang, H.</b>, & Kim, H. (2023). <a href = "https://academic.oup.com/applij/advance-article-abstract/doi/10.1093/applin/amac046/6686677?redirectedFrom=fulltext" target="_blank"> Automatic analysis of constructional diversity as a predictor of EFL students’ writing proficiency. </a> Applied Linguistics, 44(1), 127–147. https://doi.org/10.1093/applin/amac046
      
      <br> 
      <br> 
      <b> Hwang, H.</b> (2023/online first). <a href = "https://doi.org/10.1016/j.lingua.2023.103527" target="_blank"> Do position and lexical knowledge matter in children’s second language speech perception? </a> Lingua. https://doi.org/10.1016/j.lingua.2023.103527
      
      <br> 
      <br> 
      Kim, H., & <b> Hwang, H. </b> (2022). <a href= "https://onlinelibrary.wiley.com/doi/abs/10.1111/lang.12480" target="_blank"> Assessing verb-construction integration in young learners of English as a foreign language. </a> Language Learning, 72(2), 497–533. http://doi.org/10.1111/lang.12480
      
      <br> 
      <br> 
      <b> Hwang, H. </b> (2022). <a href="https://www.degruyter.com/view/journals/cllt/ahead-of-print/article-10.1515-cllt-2019-0061/article-10.1515-cllt-2019-0061.xml?language=en" target="_blank"> Syntactico-semantic realizations of pronouns in the English transitive construction: A corpus-based analysis. </a> Corpus Linguistics and Linguistic Theory, 18(1), 115–143. http://doi.org/10.1515/cllt-2019-0061
      
      <br> 
      <br> 
      Kim, H., Shin, G-H., & <b> Hwang, H. </b> (2020). <a href="https://www.cambridge.org/core/journals/studies-in-second-language-acquisition/article/abs/integration-of-verbal-and-constructional-information-in-the-second-language-processing-of-english-dative-constructions/C71C6D5DDEC6AE37E564354918252394" target="_blank"> Integration of verbal and constructional information in the second language processing of English dative constructions. </a> Studies in Second Language Acquisition, 42(4), 825–847. http://doi.org/10.1017/S0272263119000743 
      
      <br> 
      <br>
      Kim, H., Rah, Y., & <b> Hwang, H. </b> (2020). <a href="http://journal.kate.or.kr/wp-content/uploads/2020/07/v75_sp1_04.pdf" target="_blank"> Testing usage-based approaches to assessing EFL learners’ development of English argument structure constructions. </a> English Teaching, 75(s1), 55–78. http://doi.org/10.15858/engtea.75.s1.202006.55 
      <br> 
      <br> 
      <b> Hwang, H. </b>, Jung, H., & Kim, H. (2020). <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/modl.12626" target="_blank"> Effects of written versus spoken production modalities on syntactic complexity measures in beginning-level child EFL learners. </a> Modern Language Journal, 104(1), 267–283. http://doi.org/10.1111/modl.12626 
      <br> 
      <br> 
      <b> Hwang, H. </b>, & Kim, H. (2019). <a href="http://journal.kate.or.kr/wp-content/uploads/2020/01/v74_4_01.pdf" target="_blank"> A comparative analysis of EFL students’ needs and evaluation of English curriculum: A case study from Korea. </a> English Teaching, 74, 3–29. http://doi.org/10.15858/engtea.74.4.201912.3 
      <br> 
      <br> 
      Deen, K., Bondoc, I., Camp, A., Estioca, S., <b>Hwang, H.</b>, Shin, G.-H., Takahashi, M., Zenker, F., & Zhong, J. (2018). <a href="http://www.lingref.com/bucld/42/BUCLD42-16.pdf" target="_blank"> Repetition brings success: Revealing knowledge of the passive voice. </a> In A. B. Bertolini & M. J. Kaplan (Eds.), Proceedings of the 42nd annual Boston University Conference on Language Development (pp. 200–213). Somerville, MA: Cascadilla Press. 
      <br> 
      <br> 
      Kim, H., <b> Hwang, H. </b>, & Rah, Y. (2017). <a href="http://cogsci.snu.ac.kr/jcs/index.php/issues/?pageid=5&uid=236&mod=document" target="_blank"> Young EFL students’ reliance on path-breaking verbs in the use of English argument structure constructions. </a> Journal of Cognitive Science, 18, 341–366. http://doi.org/10.17791/jcs.2017.18.3.341 
      
      
      <br> 
      <br> 
      <br> 
      <br> 
      <br>
      
      <b> DISSERTATION </b>
      <br> 
      <br> 
      <b> Hwang, H.</b> (2020). <a href="https://haerimhwang.github.io/assets/Hwang_Dissertation.pdf" target="_blank"> A contrast between VP-ellipsis and Gapping in English: L1 acquisition, L2 acquisition, and L2 processing (Unpublished doctoral dissertation). </a> University of Hawai'i, Honolulu, HI, USA. 
      <br> 
      <br> 
      <br>
      </div>
    </div>
  </section>
  </div>
</section>


