<section class="hero is-fullheight" id="research" style="margin-left:15%;margin-right:15%;width:auto"> 
  <div id="research"></div><div id="research">
  <section class="hero" id="research">
    <div class="hero-body"> <div class="container"> 

      <b>RESEARCH FOCUS</b>
      <br> 
      <br> 
      My research focus lies at the intersection of (psycho)linguistics and computer science. 
      Specifically, I investigate fundamental issues in language acquisition, language processing, and 
      language use via behavioral experiments and natural language processing techniques. 
      <br> 
      <br> 
      In my PhD dissertation entitled <a href="https://haerimhwang.github.io/assets/Hwang_Dissertation.pdf" target="_blank"> 
        "A contrast between VP-ellipsis and Gapping in English: L1 acquisition, L2 acquisition, and L2 processing," </a> 
      I probed the (a) L1/L2 language use (via natural language processing), (b) L1 acquisition and (child and adult) L2 acquisition 
      (via acceptability-judgement and picture-sentence matching paradigms), and L2 processing (via a self-paced reading padadigm) 
      of contrasts between two seemingly similar phenomena in English: VP ellipsis, which involves the deletion of an entire verb phrase 
      (e.g., <i> Sara made pizza and Kelly did <s> make pizza </s> too</i>) and Gapping, which involves a verb gap (e.g., 
      <i> Sara made pizza and Kelly _ pasta</i>).
      <br> 
      <br> 
      As part of my ongoing work in <b>psycholinguistics</b>, I have been investigating whether both native speakers and L2 learners 
      are able to anticipate the upcoming information based on the linguistic cues that have already been provided, using a visual-world 
      eye-tracking paradigm. 
      Alongside this work, I have been creating Graphic User Interface <b> natural language processing </b> applications in Python 
      that provide researchers and language educators with reliable indices for capturing linguistic complexity. 
      More recently, I have shifted my focus to developing deep learning models for language assessment, 
      with a primary goal of contributing to improving explainability of AI.
      
      <br> 
      <br> 
      <br>
      <br> 
      <br>
      
      <b>PUBLICATIONS</b>

      <br> 
      <br> 
      <b> Hwang, H.</b>, & Han, G. (Accepted). Processing of passives using morphological information within the verb in a second language: Slower, but as robust as in a first language. Studies in Second Language Acquisition. 

      <br> 
      <br> 
      <b> Hwang, H.</b> (Accepted). Evaluating the applicability of the transformer-based grammatical error correction system for assessing language accuracy. Language Testing in Asia. 
      
      <br> 
      <br> 
      Kim, H., Kim, K., & <b> Hwang, H.</b> (In press). Effects of goals and strategies on predictive processing: A visual world eye-tracking study on honorific agreement in Korean. Linguistics.
    
      <br> 
      <br> 
      Kim, H., & <b> Hwang, H.</b> (In press). Cognitive approaches to examining the modality-specific development of lexical sophistication in young EFL learners. Vigo International Journal of Applied Linguistics.

      <br> 
      <br> 
      <b> Hwang, H.</b>, & Kim, K. (Accepted). <a href = "https://doi.org/10.1017/S1366728925100709", target="_blank"> Prediction of there-associated nous based on verbs in expletive sentences: Effects of cue validity, proficiency, and immersion experience. </a> Bilingualism: Language and Cognition. Advance online publication. https://doi.org/10.1017/S1366728925100709 

      <br> 
      <br> 
      <b> Hwang, H.</b> (2025). <a href = "https://doi.org/10.1080/08839514.2025.2566798", target="_blank"> Assessing the performance of pretrained models for accurate and consistent classification of argument structure constructions. </a> Applied Artificial Intelligence, 39, 2566798. https://doi.org/10.1080/08839514.2025.2566798 
   
      <br> 
      <br> 
      <b> Hwang, H.</b>, & Kim, K. (2025). <a href = "https://doi.org/10.1515/applirev-2024-0078", target="_blank"> Genre-specific features of second language speech: Connectives in exposition and narration. </a> Applied Linguistics Review. Advance online publication. https://doi.org/10.1515/applirev-2024-0078 
      
      <br> 
      <br> 
      <b> Hwang, H.</b>, & Park, S. (2025). <a href = "https://doi.org/10.1515/lingvan-2025-0006", target="_blank"> Sensitivity to honorific agreement: A window into predictive processing. </a> Linguistics Vanguard. Advance online publication. https://doi.org/10.1515/lingvan-2025-0006 

      <br> 
      <br> 
      <b> Hwang, H.</b>, & Park, S. (2025). <a href = "https://doi.org/10.1017/S0142716425100052", target="_blank"> The influence of word co-occurrence frequency on predictive processing in first and second languages: A webcam-based eye-tracking study. </a> Applied Psycholinguistics, 46, e18. https://doi.org/10.1017/S0142716425100052  
        
      <br> 
      <br> 
      <b> Hwang, H.</b>, Chang, X., & Sun, J. (2025). <a href = "https://doi.org/10.1016/j.jslw.2025.101230", target="_blank"> Generative AI is useful for L2 writing, but when, why, and for how long do learners use it? </a> Journal of Second Language Writing, 69, 101230. https://doi.org/10.1016/j.jslw.2025.101230

      <br> 
      <br> 
      <b> Hwang, H.</b>, & Kim, K. (2025). <a href = "https://doi.org/10.1111/lang.12718", target="_blank"> Effects of lexical frequency in predictive processing: Higher frequency boosts first language speed and facilitates second language prediction. </a> Language Learning. Advance online publication. https://doi.org/10.1111/lang.12718

      <br> 
      <br> 
      <b> Hwang, H.</b> (2025). <a href = "https://doi.org/10.1016/j.system.2025.103695", target="_blank"> Growth of lexical and syntactic complexity, accuracy, and fluency in spoken production of first language and second language children. </a> System, 132, 103695. https://doi.org/10.1016/j.system.2025.103695

      <br> 
      <br> 
      Kim, H., & <b> Hwang, H.</b> (2025). <a href = "https://doi.org/10.1017/langcog.2024.65", target="_blank"> Learning contexts and proficiency matter: L2 sensitivity to conventional and unconventional dative pattern. </a> Language and Cognition, 17, e21. https://doi.org/10.1017/langcog.2024.65

      <br> 
      <br>       
      <b> Hwang, H. </b> (2025). <a href = "https://doi.org/10.1177/07410883241286900", target="_blank"> The impact of subordination type and finiteness on second language development in timed impromptu writing: An NLP-based analysis using the Subordination Sophistication Analyzer. </a> Written Communication, 42(1), 193–222. https://doi.org/10.1177/07410883241286900

      <br> 
      <br>   
      Mengoni, P., <b>Hwang, H.</b>, Shen, D. J., Li, Y., Wong, P. P. Y. (2024). <a href = "https://doi.org/10.1145/3678610.36786", target="_blank"> Exploring the impact of interactive content on user experiences within a metaverse learning platform. </a> In ICSLT 2024: Proceedings of the 2024 10th International Conference on e-Society, e-Learning and e-Technologies (ICSLT) (pp. 31–37). New York, NY: Association for Computing Machinery. https://doi.org/10.1145/3678610.36786

      
      <br> 
      <br>       
      <b> Hwang, H. </b> (2024). The role of first language in automated essay grading for second language writing. In A. M. Olney, I-A. Chounta, Z. Liu, O. C. Santos, & I. I. Bittencourt (Eds.), Proceedings of the 25th International Conference on Artificial Intelligence in Education (AIED 2024). Springer Cham.

      <br> 
      <br>       
      Wong, P. P. Y., Lee, J., Gonzales, W. D. W., Choi, S. H. S., <b>Hwang, H.</b>, Shen, D. J. (2024). New dimensions: The impact of the metaverse and AI avatars on social science education. In W. W. K. Ma, C. Li, W. F. Chun, H. H. Leong, A. Lu (Eds.), Proceedings of the 17th International Conference on Blended Learning. Intelligent Computing in Education (ICBL 2024). Springer Singapore.

      <br> 
      <br> 
      <b> Hwang, H.</b> (2024). <a href = "https://doi.org/10.1017/S1366728923000640" target="_blank"> Wanna contraction in first language acquisition, child second language acquisition, and adult second language acquisition. </a> Bilingualism: Language and Cognition, 27(3), 322–333. https://doi.org/10.1017/S1366728923000640

      <br> 
      <br> 
      <b> Hwang, H. </b> (2024). <a href = "https://doi.org/10.1016/j.system.2024.103260" target="_blank"> Development of morphological diversity in second language Korean: An NLP analysis using the Korean Morphological Richness Analyzer 1.0. </a> System, 121, 103260. https://doi.org/10.1016/j.system.2024.103260

      <br> 
      <br> 
      Kim, H., & <b> Hwang, H. </b> (2024). <a href = "https://doi.org/10.1111/ijal.12548" target="_blank"> Effects of pronominal reference on the integration of syntactic and semantic information in second language processing. </a> International Journal of Applied Linguistics, 34(3), 1108–1122. https://doi.org/10.1111/ijal.12548

      <br> 
      <br> 
      <b> Hwang, H.</b>, & Kim, H. (2024).  <a href = "https://doi.org/10.1177/02655322231222596" target="_blank"> Korean Syntactic Complexity Analyzer (KOSCA): An NLP tool for the analysis of syntactic complexity in second language production. </a> Language Testing, 41(3), 506–529. https://doi.org/10.1177/02655322231222596
  
      <br> 
      <br> 
      <b> Hwang, H.</b> (2023). <a href = "https://doi.org/10.30961/lr.2023.59.3.237" target="_blank"> Second language acquisition of Pseudo-VP-ellipsis and Gapping in Korean. </a> Language Research, 59(3), 237–252. https://doi.org/10.30961/lr.2023.59.3.237

      <br> 
      <br>  
      <b> Hwang, H.</b>, & Kim, H. (2023). <a href = "https://academic.oup.com/applij/advance-article-abstract/doi/10.1093/applin/amac046/6686677?redirectedFrom=fulltext" target="_blank"> Automatic analysis of constructional diversity as a predictor of EFL students’ writing proficiency. </a> Applied Linguistics, 44(1), 127–147. https://doi.org/10.1093/applin/amac046

      <br> 
      <br> 
      Kim, H., Kim, K., Jo, K., & <b> Hwang, H. </b> (2023). <a href = "https://doi.org/10.1017/langcog.2023.16" target="_blank"> Sensitivity to syntactic dependency formation in child second language processing: A study of numeral quantifiers in Korean. </a> Language and Cognition, 15(4), 763–785. https://doi.org/10.1017/langcog.2023.16
      
      <br> 
      <br> 
      <b> Hwang, H.</b> (2023). <a href = "https://doi.org/10.1016/j.lingua.2023.103527" target="_blank"> Do position and lexical knowledge matter in children’s second language speech perception? </a> Lingua, 289, 103527. https://doi.org/10.1016/j.lingua.2023.103527
      
      <br> 
      <br> 
      Kim, H., & <b> Hwang, H. </b> (2022). <a href= "https://onlinelibrary.wiley.com/doi/abs/10.1111/lang.12480" target="_blank"> Assessing verb-construction integration in young learners of English as a foreign language. </a> Language Learning, 72(2), 497–533. http://doi.org/10.1111/lang.12480

      <br> 
      <br> 
      <b> Hwang, H. </b> (2022). <a href="https://www.degruyter.com/view/journals/cllt/ahead-of-print/article-10.1515-cllt-2019-0061/article-10.1515-cllt-2019-0061.xml?language=en" target="_blank"> Syntactico-semantic realizations of pronouns in the English transitive construction: A corpus-based analysis. </a> Corpus Linguistics and Linguistic Theory, 18(1), 115–143. http://doi.org/10.1515/cllt-2019-0061
  
      <br> 
      <br> 
      <b> Hwang, H. </b>, Jung, H., & Kim, H. (2020). <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/modl.12626" target="_blank"> Effects of written versus spoken production modalities on syntactic complexity measures in beginning-level child EFL learners. </a> The Modern Language Journal, 104(1), 267–283. http://doi.org/10.1111/modl.12626 

      <br> 
      <br> 
      Kim, H., Shin, G-H., & <b> Hwang, H. </b> (2020). <a href="https://www.cambridge.org/core/journals/studies-in-second-language-acquisition/article/abs/integration-of-verbal-and-constructional-information-in-the-second-language-processing-of-english-dative-constructions/C71C6D5DDEC6AE37E564354918252394" target="_blank"> Integration of verbal and constructional information in the second language processing of English dative constructions. </a> Studies in Second Language Acquisition, 42(4), 825–847. http://doi.org/10.1017/S0272263119000743 

      <br> 
      <br>
      Kim, H., Rah, Y., & <b> Hwang, H. </b> (2020). <a href="http://journal.kate.or.kr/wp-content/uploads/2020/07/v75_sp1_04.pdf" target="_blank"> Testing usage-based approaches to assessing EFL learners’ development of English argument structure constructions. </a> English Teaching, 75(s1), 55–78. http://doi.org/10.15858/engtea.75.s1.202006.55 

      <br> 
      <br> 
      <b> Hwang, H. </b>, & Kim, H. (2019). <a href="http://journal.kate.or.kr/wp-content/uploads/2020/01/v74_4_01.pdf" target="_blank"> A comparative analysis of EFL students’ needs and evaluation of English curriculum: A case study from Korea. </a> English Teaching, 74, 3–29. http://doi.org/10.15858/engtea.74.4.201912.3 

      <br> 
      <br> 
      Deen, K., Bondoc, I., Camp, A., Estioca, S., <b>Hwang, H.</b>, Shin, G.-H., Takahashi, M., Zenker, F., & Zhong, J. (2018). <a href="http://www.lingref.com/bucld/42/BUCLD42-16.pdf" target="_blank"> Repetition brings success: Revealing knowledge of the passive voice. </a> In A. B. Bertolini & M. J. Kaplan (Eds.), Proceedings of the 42nd annual Boston University Conference on Language Development (pp. 200–213). Somerville, MA: Cascadilla Press. 
      
      <br> 
      <br> 
      Kim, H., <b> Hwang, H. </b>, & Rah, Y. (2017). <a href="http://cogsci.snu.ac.kr/jcs/index.php/issues/?pageid=5&uid=236&mod=document" target="_blank"> Young EFL students’ reliance on path-breaking verbs in the use of English argument structure constructions. </a> Journal of Cognitive Science, 18, 341–366. http://doi.org/10.17791/jcs.2017.18.3.341 
     
      <br> 
      <br> 
      <br> 
      <br> 
      <br>
      
      
      <b>SELECTED TALKS/PRESENTATIONS</b>

      <br> 
      <br>
      Kim, K., <b>Hwang, H.</b>, Kim, J., Lee, H., Kim, Y., Baeg, J., & Zenker, F. (2025). Difficulty with 3SG -s in L2 English: A perceptual problem, not a knowledge deficit. 50 Boston University Conference on Language Development, Boston, USA. (November 7)
      
      <br> 
      <br> 
      <b> Hwang, H.</b>, & Han, G. (2025). Following the eyes: L1 and L2 processing of passive vs. active Voice. Quebec Conference on Language Learning and Teaching, Quebec City, Canada. (August 21)
           
      <br> 
      <br> 
      Ohba, A., Lee, Y., <b> Hwang, H.</b>, & Shimada, H. (2025). Testing the split grammar hypothesis: ±V-raising or ±PPI? 32nd Japanese/Korean Linguistics Conference, Cornell University, Ithaca, USA. (June 15)
      
      <br> 
      <br> 
      <b> Hwang, H. </b> (2025). Machine learning-based prediction of second language proficiency in Korean: The effect of first language. 32nd Japanese/Korean Linguistics Conference, Cornell University, Ithaca, USA. (June 13)

      <br> 
      <br> 
      <b> Hwang, H. </b> (2025). EFL and ESL learners utilize generative AI in distinct ways in writing. Hong Kong Second Language Acquisition Research Forum, Hong Kong Polytechnic University, Hong Kong. (May 9)

      <br> 
      <br> 
      <b> Hwang, H. </b> (2025). Application of AI in English education. Ehwa Womans University, Seoul, Republic of Korea. (April 11)

      <br> 
      <br> 
      <b> Hwang, H. </b> (2025). The when, why, and how long of ai integration in second language writing.  Hong Kong Association for Applied Linguistics. The Chinese University of Hong Kong, Hong Kong. (March 24)
      
      <br> 
      <br> 
      Kim, K., & <b> Hwang, H. </b> (2024). Automated assessment of multilingual development and attrition based on reaction times: Focusing on HALA (Hawai‘i Assessment of Language Access). ALAK (Applied Linguistics Association of Korea) Workshop. Hankuk University of Foreign Studies, Seoul, Republic of Korea. (April 13)
      
      <br> 
      <br> 
      <b> Hwang, H.</b>, & Kim, K. (2024). Lexical frequency as a factor in optimizing second language prediction: A visual-world eye-tracking study. Hong Kong Second Language Acquisition Research Forum 2024, The Chinese University of Hong Kong, Hong Kong (March 9)         
      
      <br> 
      <br> 
      <b> Hwang, H.</b> (2024). Lexical and syntactic accuracy, complexity, and fluency in L1 and L2 children’s oral production. UZRT 2024 Early Language Learning in Formal Contexts. University of Zagreb, Croatia. (February 16)           
      
      <br> 
      <br> 
      <b> Hwang, H.</b>, & Kim, K. (2023). Boosting second language prediction: The significance of lexical frequency. 2023 The Korean Association for the Study of English Language and Linguistics Winter Conference. Seoul National University, Seoul, Republic of Korea. (December 2)

      <br> 
      <br> 
      Kim, K., <b> Hwang, H.</b>, & Kim, J., Lee, H., Kim, Y., & Baek, J., & Kim, K. (2023). Sentence-position effects on L1-Korean learners’ processing of L2-English third person singular –s. 2023 The Korean Association for the Study of English Language and Linguistics Winter Conference. Seoul National University, Seoul, Republic of Korea. (December 2)
   
      <br> 
      <br> 
      <b> Hwang, H.</b> (2023). Lost in transition: Language acquisition in children and machines. Architectures and Mechanisms for Language Processing Asia 2023, The Chinese University of Hong Kong, Hong Kong. (poster, December 1)          
     
      <br> 
      <br> 
      <b> Hwang, H.</b>, & Kim, K. (2023). Connection between lexical frequency and second language prediction. 14th International Conference of Experimental Linguistics, Athens University, Athens, Greece. (October 19)
      
      <br> 
      <br> 
      <b> Hwang, H.</b> (2023). An automatic analysis of morphological diversity in second language Korean. 2023 Applied Linguistics Association of Korea International Conference, Jeju, Republic of Korea (hybrid). (October 12–13)      
     
      <br> 
      <br> 
      <b> Hwang, H.</b> (2021). An NLP analysis of VP-ellipsis and Gapping in EFL input. 2021 KAPEE (Korea Association of Primary English Education) Workshop and Annual Conference, Gyeongin National University of Education, Anyang, Republic of Korea. (October 2)
     
      <br> 
      <br> 
      <b> Hwang, H. </b> (2021). Natural language processing, acquisition, and processing of VP-ellipsis and Gapping. 2021 KASELL (Korean Association for the Study of English Language and Linguistics) Spring Conference on English Linguistics, Hanyang Women’s University, Seoul, Republic of Korea. (June 5)
      
      <br> 
      <br> 
      <b> Hwang, H.</b>, & Schwartz, B. D. (2021). Processing verb gaps in a second language. Bi-annual Conference on Generative Approaches to Language Acquisition‒North America 9, University of Iceland in Reykjavík, Iceland. (poster, May 9)

      <br> 
      <br> 
      <b> Hwang, H.</b> (2020). Grammar search for wh-questions during task performance in English. 2020 KAPEE (Korea Association of Primary English Education) Workshop and Annul Conference, Gyeongin National University of Education, Anyang, Republic of Korea. (September 19)

      <br> 
      <br> 
      <b> Hwang, H.</b>, & Schwartz, B. D. (2019). L2 acquisition of contrasts in interpretive ambiguity between VP-ellipsis and Gapping. Boston University Conference on Language Development 44, Boston University, Boston, USA. (November 9)

      <br> 
      <br> 
      <b> Hwang, H.</b>, Jung, H. Y., & Kim, H. (2019). How do different processes of speaking and writing affect syntactic complexity in child second language production? International Cognitive Linguistics Conference 15, Kwansei Gakuin University, Nishinomiya, Japan. (poster, August 7)

      <br> 
      <br> 
      <b> Hwang, H.</b> (2019). Second language perception of English stops by Korean-speaking child learners: Effects of position and lexical knowledge. Hanyang International Symposium on Phonetics and Cognitive Sciences of Language, Hanyang University, Seoul, Republic of Korea. (poster, May 24)     
      
      <br> 
      <br> 
      Deen, K., Bondoc, I., Camp, A., Estioca, S., <b>Hwang, H.</b>, Shin, G., Takahashi, M., Zenker, F., & Zhong, C. (2017). Repetition Brings Success: Revealing knowledge of the passive voice. Boston University Conference on Language Development 42, Boston University, Boston, USA. (November 3)
      
      <br> 
      <br> 
      <b> Hwang, H.</b>, Kim, H., & Schwartz, B. D. (2017). Revisiting empty-category processing by L2 learners with only classroom exposure. CUNY 2017: Conference on Human Sentence Processing, MIT, Boston, USA. (poster, March 30)  
            
      
      
      
      <br> 
      <br> 
      <br> 

      </div>
    </div>
  </section>
  </div>
</section>


