<section class="hero is-fullheight" id="teaching"> 
  <div id="teaching"></div><div id="teaching">
  <section class="hero" id="teaching">
    <div class="hero-body"><div class="container"> 

      <b> COURSES </b>

      <br> 
      <br> 
      Fall, 2022 <br><br>
      &#8195;&#8195;<b> <em> Theoretical Linguistics </em> </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>
  
      &#8195;&#8195;<b> <em> Cognitive Linguistics and its Application in Language Teaching </em> </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>      
      
      &#8195;&#8195;<b> <em> Independent Research Project </em> </b> (BA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>
      
      Spring, 2022 <br><br>
      &#8195;&#8195;<b> <em> Psycholinguistics </em> </b> (BA) <br>
      &#8195;&#8195;Department of English, Korea University, Seoul, Republic of Korea <br> <br>
        
      Fall, 2021 <br><br>
      &#8195;&#8195;<b> <em> Psycholinguistics </em> </b> (MA) <br>
      &#8195;&#8195;Department of English, Korea University, Seoul, Republic of Korea <br> <br>
  
      Spring, 2021 <br><br>
      &#8195;&#8195;<b> <em> Psycholinguistics </em> </b> (BA, online) <br>
      &#8195;&#8195;Department of English, Korea University, Seoul, Republic of Korea <br> <br>
        
      Spring, 2020 <br><br>
      &#8195;&#8195;<b> <em> Second Language Analysis: Basic Language Concepts for Second Language Learning, Teaching, & Use </em> </b> (BA, transitioned to online due to COVID) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>     
              
      Fall, 2019 <br><br>
      &#8195;&#8195;<b> <em> Professionalism in Second Language Studies </em> </b> (BA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>       
              
      Fall, 2018 – Spring, 2019 <br><br>
      &#8195;&#8195;<b> <em> Language Concepts for Second Language Learning and Teaching </em> </b> (BA & MA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>       
      
      Spring, 2018 <br><br>
      &#8195;&#8195;<b> <em> Second Language Learning </em> </b> (BA, online and offline hybrid course)  <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>    
        
      Fall, 2017 <br><br>
      &#8195;&#8195;<b> <em> Second Language Learning </em> </b> (BA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>       

        
      <br>  
      <br>
      <br>
        
        
      <b> INVITED LECTURES/WORKSHOPS </b>
      <br> 
      <br> 

        
        
      2022 <br><br> 
      &#8195;&#8195;<b> <em> Coh-Metrix workshop: Analysis of learner speech data </em> </b> <br>
      &#8195;&#8195;KAMALL (Korea Association of Multimedia-Assisted Language Learning) Digital Literacy Academy for Language Education Experts, Seoul, Korea. (June 10)
      <br> 
      <br> 
        
      &#8195;&#8195;<b> <em> Artificial Intelligence and English Education </em> </b> (BA, pre-service teachers) <br>
      &#8195;&#8195;Seoul National University of Education & Sindorim Elementary School, Seoul, Republic of Korea (May 17)
      <br> 
      <br>    
        
      &#8195;&#8195;<b> <em> Python and R Workshop: Keyword Analysis in Python & Ordinal Regression Analysis in R </em> </b> (MA, PhD) <br>
      &#8195;&#8195;Department of Physical Education, Sangji University, Wonju, Republic of Korea (April 28–30)
      <br> 
      <br>    
        
      &#8195;&#8195;<b> <em> Python workshop: Text mining in Python </em> </b> <br>
      &#8195;&#8195;KAMALL (Korea Association of Multimedia-Assisted Language Learning) Digital Literacy Academy for Language Education Experts, Seoul, Korea (March 11)
      <br> 
      <br> 
        
      &#8195;&#8195;<b> <em> Python Workshop: Artificial Intelligence in Applied Linguistics </em> </b> (MA) <br>
      &#8195;&#8195;Department of English Education, Gyeongin National University of Education, Anyang, Republic of Korea (February 17)
      <br> 
      <br> 
        
      &#8195;&#8195;<b> <em> Python Workshop: Lexical and Syntactic Analysis of Korean Data </em>  </b> (MA, PhD) <br>
      &#8195;&#8195;Department of Korean Studies, Ewha Womans University, Seoul, Republic of Korea (February 4–6)
      <br> 
      <br>     
        
      2021 <br><br>
      &#8195;&#8195;<b> <em> Python Workshop: Frequency and Semantic Analysis of Korean Data </em> </b> (BA) <br>
      &#8195;&#8195;Department of Korean Studies, Ewha Womans University, Seoul, Republic of Korea (September 24–26)
      <br> 
      <br>    
        
      &#8195;&#8195;<b> <em> R Workshop: Data Visualization </em> </b> (BA) <br>
      &#8195;&#8195;Department of English Language Education, Seoul National University, Seoul, Republic of Korea (December 11)
      <br> 
      <br> 
      <br>
      
      
      </div>
    </div>
  </section>
  </div>
</section>
