<section class="hero is-fullheight" id="teaching" style="margin-left:15%;margin-right:15%;width:auto"> 
  <div id="teaching"></div><div id="teaching">
  <section class="hero" id="teaching">
    <div class="hero-body"><div class="container"> 

      <b> COURSES </b>

      <br> 
      <br> 
      Spring, 2025 <br><br>
      &#8195;&#8195;<b>Natural Language Processing for Applied Linguistics and Education </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>

      &#8195;&#8195;<b>AI and its Applications </b> (BA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>

      
      Fall, 2024 <br><br>
      &#8195;&#8195;<b>Theoretical Linguistics </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>

      
      Spring, 2024 <br><br>
      &#8195;&#8195;<b>Cognitive Linguistics and its Application in Language Teaching </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>

      
      
      Fall, 2023 <br><br>
      &#8195;&#8195;<b>Theoretical Linguistics </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>
  
      &#8195;&#8195;<b>Acquisition of English as a Second Language </b> (BA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>      
      
      &#8195;&#8195;<b>The World in English: An Oxford Summer Programme </b> (BA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>   
      
      
      Spring, 2023 <br><br>
      &#8195;&#8195;<b>Psycholinguistics </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>
  
      &#8195;&#8195;<b>Psycholinguistics </b> (BA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>            

      
      Fall, 2022 <br><br>
      &#8195;&#8195;<b>Theoretical Linguistics </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>
  
      &#8195;&#8195;<b>Cognitive Linguistics and its Application in Language Teaching </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>      

      
      Spring, 2022 <br><br>
      &#8195;&#8195;<b>Psycholinguistics </b> (BA, taught in English) <br>
      &#8195;&#8195;Department of English Language and Literature, Korea University, Seoul, Republic of Korea <br><br>

      
      Fall, 2021 <br><br>
      &#8195;&#8195;<b>Psycholinguistics </b> (MA, online, taught in English) <br>
      &#8195;&#8195;Department of English Language and Literature, Korea University, Seoul, Republic of Korea <br> <br>

      
      Spring, 2020 <br><br>
      &#8195;&#8195;<b>Second Language Analysis: Basic Language Concepts for Second Language Learning, Teaching, & Use </b> <br>
      &#8195;&#8195;(BA, transitioned to online due to COVID) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, USA <br> <br>     

      
      Fall, 2019 <br><br>
      &#8195;&#8195;<b>Professionalism in Second Language Studies </b> (BA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, USA <br> <br>       

      
      Fall, 2018 – Spring, 2019 <br><br>
      &#8195;&#8195;<b>Language Concepts for Second Language Learning and Teaching </b> (BA & MA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, USA <br> <br>       

      
      Spring, 2018 <br><br>
      &#8195;&#8195;<b>Second Language Learning </b> (BA, online and offline hybrid course)  <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, USA <br> <br>    

      
      Fall, 2017 <br><br>
      &#8195;&#8195;<b>Second Language Learning </b> (BA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, USA <br> <br>       

        
      <br>  
      <br>
      <br>
        
        
      <b> INVITED LECTURES/WORKSHOPS </b>
      <br> 
      <br> 

      2024 <br><br> 
      &#8195;&#8195;<b>AI in language acquisition and processing</b><br>
      &#8195;&#8195;The International Association for Korean Language Education <br>
      &#8195;&#8195;Ehwa Womans University, Seoul, Korea (forthcoming, July 5)
      <br> 
      <br> 

      &#8195;&#8195;<b>Analysis of Second Language Production Data in Korean Using Natural Language Processing</b><br>
      &#8195;&#8195;CUFS English Department Colloquium <br>
      &#8195;&#8195;Cyber Hankuk University of Foreign Studies, Seoul, Korea (June 23)
      <br> 
      <br> 
      
      2023 <br><br> 
      &#8195;&#8195;<b>Artificial intelligence and language</b><br>
      &#8195;&#8195;CUHK Knowledge Enrichment Programme – Sky is No Limit <br>
      &#8195;&#8195;The Chinese University of Hong Kong, Hong Kong (December 20)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Language models and psycholinguistics</b><br>
      &#8195;&#8195;ALAK (Applied Linguistics Association of Korea) Research Method Workshop Series <br>
      &#8195;&#8195;Seoul National University, Seoul, Republic of Korea (September 2)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Python Workshop: Analysis of learner speech data</b><br>
      &#8195;&#8195;Department of English, Cyber Hankuk University of Foreign Studies, Seoul, Republic of Korea (August 28)
      <br> 
      <br> 

      &#8195;&#8195;<b>Artificial Intelligence and language output; <br>
      &#8195;&#8195;Python workshop: Machine translation and application of Hugging Face in utilizing large language models, <br>
      &#8195;&#8195;tagging French data </b> <br>
      &#8195;&#8195;AI Education Alliance and Policy lab, Seoul National University, Seoul, Republic of Korea (July 7)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Deep learning; <br>
      &#8195;&#8195;Python workshop: Regression analysis and Word2Vec </b> <br>
      &#8195;&#8195;AI Education Alliance and Policy lab, Seoul National University, Seoul, Republic of Korea (July 6)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Artificial Intelligence and language input; <br>
      &#8195;&#8195;Python workshop: Corpus construction, text readability analysis, and question and answering</b> <br>
      &#8195;&#8195;AI Education Alliance and Policy lab, Seoul National University, Seoul, Republic of Korea (July 5)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Introduction to natural language processing; <br>
      &#8195;&#8195;Python workshop: text preprocessing, speech recognition, and frequency analysis </b> <br>
      &#8195;&#8195;AI Education Alliance and Policy lab, Seoul National University, Seoul, Republic of Korea (July 4)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Introduction to eye-tracking in psycholinguistics </b> <br>
      &#8195;&#8195;Department of English Language Education, Seoul National University, Seoul, Republic of Korea (May 30)
      <br> 
      <br> 
      
      2022 <br><br> 
      &#8195;&#8195;<b>Analysis of eye-tracking data in R </b> <br>
      &#8195;&#8195;Department of English Language Education, Seoul National University, Seoul, Republic of Korea (December 6)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>A self-paced reading task: Experimental design and analysis </b> <br>
      &#8195;&#8195;College of Education, Seoul National University, Seoul, Republic of Korea (November 15)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Artificial intelligence in applied linguistics </b> <br>
      &#8195;&#8195;College of Education, Seoul National University, Seoul, Republic of Korea (November 8)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Coh-Metrix workshop: Analysis of learner speech data </b> <br>
      &#8195;&#8195;KAMALL (Korea Association of Multimedia-Assisted Language Learning) Digital Literacy Academy for Language <br>
      &#8195;&#8195;Education Experts, Seoul, Republic of Korea (June 10)
      <br> 
      <br> 
        
      &#8195;&#8195;<b>Artificial intelligence and English education </b> (BA, pre-service teachers) <br>
      &#8195;&#8195;Seoul National University of Education & Sindorim Elementary School, Seoul, Republic of Korea (May 17)
      <br> 
      <br>    
        
      &#8195;&#8195;<b>Python and R workshop: Keyword analysis in Python & ordinal regression analysis in R </b> (MA, PhD) <br>
      &#8195;&#8195;Department of Physical Education, Sangji University, Wonju, Republic of Korea (April 28–30)
      <br> 
      <br>    
        
      &#8195;&#8195;<b>Python workshop: Text mining in Python </b> <br>
      &#8195;&#8195;KAMALL (Korea Association of Multimedia-Assisted Language Learning) Digital Literacy Academy for Language <br>
      &#8195;&#8195;Education Experts, Seoul, Republic of Korea <br>
      &#8195;&#8195;(March 11)
      <br> 
      <br> 
        
      &#8195;&#8195;<b>Python workshop: Artificial intelligence in applied linguistics </b> (MA) <br>
      &#8195;&#8195;Department of English Education, Gyeongin National University of Education, Anyang, Republic of Korea <br>
      &#8195;&#8195;(February 17)
      <br> 
      <br> 
        
      &#8195;&#8195;<b>Python workshop: Lexical and syntactic analysis of Korean data  </b> (MA, PhD) <br>
      &#8195;&#8195;Department of Korean Studies, Ewha Womans University, Seoul, Republic of Korea (February 4–6)
      <br> 
      <br>     
        
      2021 <br><br>
      
      &#8195;&#8195;<b>Python workshop: Frequency and semantic analysis of Korean data </b> (BA) <br>
      &#8195;&#8195;Department of Korean Studies, Ewha Womans University, Seoul, Republic of Korea (September 24–26)
      <br> 
      <br>  
      
      &#8195;&#8195;<b>English education: Theory and practice </b> (BA) <br>
      &#8195;&#8195;Seoul National University of Education & Sungok Elementary School, Seoul, Republic of Korea (April 27)
      <br> 
      <br> 
      
      2020 <br><br>
      &#8195;&#8195;<b>R workshop: Data visualization </b> (BA) <br>
      &#8195;&#8195;Department of English Language Education, Seoul National University, Seoul, Republic of Korea (December 11)
      <br> 
      <br> 
      
      2020 <br><br>
      &#8195;&#8195;<b>Praat workshop: Analysis of vowel features </b> (BA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, USA (January 29, February 3)
      <br> 
      <br>
      
      2019 <br><br>
      &#8195;&#8195;<b>Praat workshop: Analysis of vowel features </b> (BA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, USA (January 22, September 11)
      <br> 
      <br> 
      <br>
      
      
      </div>
    </div>
  </section>
  </div>
</section>
