<section class="hero is-fullheight" id="teaching"> 
  <div id="teaching"></div><div id="teaching">
  <section class="hero" id="teaching">
    <div class="hero-body"><div class="container"> 

      <b> COURSES </b>

      <br> 
      <br> 
      Fall, 2022 <br><br>
      &#8195;&#8195;<b>Theoretical Linguistics </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>
  
      &#8195;&#8195;<b>Cognitive Linguistics and its Application in Language Teaching </b> (MA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>      
      
      &#8195;&#8195;<b>Independent Research Project </b> (BA) <br>
      &#8195;&#8195;Department of English, The Chinese University of Hong Kong, Hong Kong <br> <br>
      
      Spring, 2022 <br><br>
      &#8195;&#8195;<b>Psycholinguistics </b> (BA, taught in English) <br>
      &#8195;&#8195;<b>Awarded for teaching excellence </b> (rated at top 5% at Korea University)
      &#8195;&#8195;Department of English Language and Literature, Korea University, Seoul, Republic of Korea <br> <br>
        
      Fall, 2021 <br><br>
      &#8195;&#8195;<b>Psycholinguistics </b> (MA, online, taught in English) <br>
      &#8195;&#8195;Department of English Language and Literature, Korea University, Seoul, Republic of Korea <br> <br>
        
      Spring, 2020 <br><br>
      &#8195;&#8195;<b>Second Language Analysis: Basic Language Concepts for Second Language Learning, Teaching, & Use </b> (BA, transitioned to online due to COVID) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>     
              
      Fall, 2019 <br><br>
      &#8195;&#8195;<b>Professionalism in Second Language Studies </b> (BA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>       
              
      Fall, 2018 – Spring, 2019 <br><br>
      &#8195;&#8195;<b>Language Concepts for Second Language Learning and Teaching </b> (BA & MA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>       
      
      Spring, 2018 <br><br>
      &#8195;&#8195;<b>Second Language Learning </b> (BA, online and offline hybrid course)  <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>    
        
      Fall, 2017 <br><br>
      &#8195;&#8195;<b>Second Language Learning </b> (BA) <br>
      &#8195;&#8195;Department of Second Language Studies, University of Hawai'i, Honolulu, HI, USA <br> <br>       

        
      <br>  
      <br>
      <br>
        
        
      <b> INVITED LECTURES/WORKSHOPS </b>
      <br> 
      <br> 

        
        
      2022 <br><br> 
      &#8195;&#8195;<b>A self-paced reading task: Experimental design and analysis </b> <br>
      &#8195;&#8195;College of Education, Seoul National University, Seoul, Republic of Korea (November 15)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Artificial Intelligence in Applied Linguistics </b> <br>
      &#8195;&#8195;College of Education, Seoul National University, Seoul, Republic of Korea (November 8)
      <br> 
      <br> 
      
      &#8195;&#8195;<b>Coh-Metrix workshop: Analysis of learner speech data </b> <br>
      &#8195;&#8195;KAMALL (Korea Association of Multimedia-Assisted Language Learning) Digital Literacy Academy for Language Education Experts, Seoul, Republic of Korea (June 10)
      <br> 
      <br> 
        
      &#8195;&#8195;<b>Artificial Intelligence and English Education </b> (BA, pre-service teachers) <br>
      &#8195;&#8195;Seoul National University of Education & Sindorim Elementary School, Seoul, Republic of Korea (May 17)
      <br> 
      <br>    
        
      &#8195;&#8195;<b>Python and R Workshop: Keyword Analysis in Python & Ordinal Regression Analysis in R </b> (MA, PhD) <br>
      &#8195;&#8195;Department of Physical Education, Sangji University, Wonju, Republic of Korea (April 28–30)
      <br> 
      <br>    
        
      &#8195;&#8195;<b>Python workshop: Text mining in Python </b> <br>
      &#8195;&#8195;KAMALL (Korea Association of Multimedia-Assisted Language Learning) Digital Literacy Academy for Language Education Experts, Seoul, Republic of Korea <br>
      &#8195;&#8195;(March 11)
      <br> 
      <br> 
        
      &#8195;&#8195;<b>Python Workshop: Artificial Intelligence in Applied Linguistics </b> (MA) <br>
      &#8195;&#8195;Department of English Education, Gyeongin National University of Education, Anyang, Republic of Korea (February 17)
      <br> 
      <br> 
        
      &#8195;&#8195;<b>Python Workshop: Lexical and Syntactic Analysis of Korean Data  </b> (MA, PhD) <br>
      &#8195;&#8195;Department of Korean Studies, Ewha Womans University, Seoul, Republic of Korea (February 4–6)
      <br> 
      <br>     
        
      2021 <br><br>
      
      &#8195;&#8195;<b>Python Workshop: Frequency and Semantic Analysis of Korean Data </b> (BA) <br>
      &#8195;&#8195;Department of Korean Studies, Ewha Womans University, Seoul, Republic of Korea (September 24–26)
      <br> 
      <br>  
      
      &#8195;&#8195;<b>English Education: Theory and practice </b> (BA) <br>
      &#8195;&#8195;Seoul National University of Education & Sungok Elementary School, Seoul, Republic of Korea (April 27)
      <br> 
      <br> 
      
      2020 <br><br>
      &#8195;&#8195;<b>R Workshop: Data Visualization </b> (BA) <br>
      &#8195;&#8195;Department of English Language Education, Seoul National University, Seoul, Republic of Korea (December 11)
      <br> 
      <br> 
      <br>
      
      
      </div>
    </div>
  </section>
  </div>
</section>
